@import 'variables';
@import './libs/basic.scss';
@import 'fonts.scss';



h1.basket_title {
    color: $white;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 30px;
    span {
        color: $color-grin;
    }
}

.basket_box {
    display: grid;
    grid-template-columns: 893px 321px;
    width: 100%;
    justify-content: space-between;
    .basket_box_left {
        max-width: 893px;
        width: 100%;
        height: 244px;
        .basket_box_top {
            border-radius: 15px;
            background: url('../assets/image/basket_box_top.png') no-repeat;
            max-width: 893px;
            width: 100%;
            padding: 30px;
            margin-bottom: 20px;
            .basket_box_title {
                color: $white;
                font-size: 32px;
                font-weight: 800;
                line-height: 130%;
                margin-bottom: 10px;
            }
            .basket_box_desc {
                color: $white;
                font-size: 20px;
                font-weight: 500;
                max-width: 552px;
                width: 100%;
                line-height: 130%; 
                margin-bottom: 30px;
            }
            .basket_box_btn {
                padding: 13px 25px 16px 25px;
                border-radius: 10px;
                color: $black;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                transition: all 200ms ease-in-out;
            }

            .basket_box_btn:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
    .basket_box_rigth {
        display: flex;
        flex-direction: column;
        .basket_box_rigth_top {
            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.10);
            padding: 30px;
            width: 321px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            .desc_top_rigth {
                color: $white;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 130%;
                margin-bottom: 25px;
            }
            .price_top_rigth {
                color: $white;
                text-align: center;
                font-size: 36px;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 25px;
            }
            .btn_top_rigth {
                border-radius: 15px;
                padding: 18px 53px;
                white-space: nowrap;
                background: rgba(119, 190, 29, 0.10);
                border: none;
                color: $color-grin;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                line-height: 130%;
                margin-bottom: 30px;
                transition: all 200ms ease-in-out;
            }
            .btn_top_rigth:hover {
                cursor: pointer;
                background: rgba(104, 163, 27, 0.1);
            }
            .desc_bottom_block {
                display: flex;
                gap: 5px;
                .desc_bottom_rigth {
                    color: rgba(255, 255, 255, 0.30);
                    font-size: 16px;
                    display: inline-block;
                    width: 244px;
                    font-weight: 500;
                    line-height: 160%;
                }
                .link {
                    color: $color-blue;
                }
            }
            .desc_bottom_block::before {
                content: url('../assets/bascket-icons/check-mark.svg');
                margin-right: 5px;
            }
        }
        .basket_box_rigth_bottom {
            border-radius: 30px;
            width: 321px;
            padding: 30px;
            border: 2px solid rgba(255, 255, 255, 0.10);
        }
    }
}