@import 'variables';
@import './libs/basic.scss';
@import 'fonts.scss';


body {
    background-color: $black;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    width: calc(100vw - 330px);
    height: 100%;
    background-color: $black;
    margin: 25px auto;
    border-radius: 10px;
    max-width: 1400px;
}

.header {
    background-color: $black;
    display: flex;
    gap: 21px;
    flex-direction: column;
    .header_top {
        display: flex;
        justify-content: space-between;
        .interpreter {
            display: flex;
            padding-right: 8px;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%; 
            span {
                color: #3C364E;
                font-size: 16px;
                font-weight: 600;
                line-height: 130%;
            }
        }
    
        .interpreter::after {
            content: url('../../public/image/interpreter-icons.svg');
            display: flex;
            margin-left: 5px;
            margin-top: -2px;
        }
        .header_desc {
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            margin-right: 6px;
            white-space: nowrap;
        }
        .header_nav{
            
            .list {
                display: flex;
                gap: 31px;   
                .link {
                    color: $white;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 130%;
                }
            }
        }
        .profile {
            white-space: nowrap;
            display: flex;
            flex-direction: end;
            color: $white;
            text-align: right;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
        }
        .profile::after {
            margin-top: -6px;
            margin-left: 25px;
            content: url('../../public/image/profile-icons.svg');
        }
    }
    .header_bottom {
        
    }
}