@import 'variables';
@import './libs/basic.scss';
@import 'fonts.scss';


body {
    background-color: $black;
    font-family: 'Manrope', sans-serif;
}


.container {
    position: relative;
}



.wrapper {
    width: calc(100vw - 330px);
    height: 100%;
    background-color: $black;
    margin: 25px auto;
    border-radius: 10px;
    max-width: 1400px;
}

.header {
    background-color: $black;
    display: flex;
    gap: 21px;
    flex-direction: column;
    margin-bottom: 40px;
    .header_top {
        display: flex;
        justify-content: space-between;
        .interpreter {
            display: flex;
            padding-right: 8px;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%; 
            span {
                color: #3C364E;
                font-size: 16px;
                font-weight: 600;
                line-height: 130%;
            }
        }
    
        .interpreter::after {
            content: url('../assets/header-icons/interpreter-icons.svg');
            display: flex;
            margin-left: 5px;
            margin-top: -2px;
        }
        .header_desc {
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            margin-right: 6px;
            white-space: nowrap;
        }
        .header_nav{
            .list {
                display: flex;
                gap: 31px;   
                .link {
                    color: $white;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 130%;
                }
            }
        }
        .profile {
            white-space: nowrap;
            display: flex;
            color: $white;
            text-align: right;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
        }
        .profile::after {
            margin-top: -6px;
            margin-left: 25px;
            content: url('../assets/header-icons/profile-icons.svg');
        }
    }
    .header_bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        margin-bottom: 24px;
        .logo {
            display: flex;
            align-items: center;
            gap: 11px;
        }
        .logo_desc {
            color: $white;
            font-size: 32px;
            font-weight: 800;
            line-height: 90%;
        }
    }
    .input {
        position: relative;
        max-width: 648px;
        width: 100%;
        height: 66px;
        padding: 22px 25px 23px 30px;
        color: $input-color;
        font-size: 16px;
        border: none;
        border-radius: 15px;
        background: rgba(196, 196, 196, 0.05);
        background-image: url('../assets/header-icons/search-icon.svg');
        background-repeat: no-repeat;
        background-position: right 25px center;
        font-weight: 400;
        line-height: 130%;
    }

    .header_bottom_desc {
        color: $color-grin;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; 
    }

    .header_line {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(255, 255, 255, 0.10);
    }
}