@import 'variables';
@import './libs/basic.scss';
@import 'fonts.scss';


body {
    background-color: $black;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    width: calc(100vw - 330px);
    height: 100%;
    background-color: $black;
    margin: 25px auto;
    border-radius: 10px;
    max-width: 1400px;
}